<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <receiver
            android:name="com.zhuchao.android.session.GlobalBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.octopus.android.action.OCTOPUS_HELLO" />
                <action android:name="com.zhuchao.android.action.FILE_SCAN" />
                <action android:name="com.zhuchao.android.action.MEDIAFILE_SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.zhuchao.android.session.MultimediaService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService,WrongManifestParent" />
    </application>
</manifest>

